/* work sans font */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;500&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  max-width: 100%;
}

.btn-primary {
  width: 140px;
  height: 40px;
  border-radius: 8px;
  border: 0;
  background: #ff900e;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

header {
  background-color: aliceblue;
  padding: 50px 240px;
}

/* nav styles */
.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: #424242;
}
/* nav styles */

/* banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  color: #131313;
  text-align: center;
  margin-top: 35px 120px;
  font-size: 4rem;
  font-weight: 700;
}

.banner-desc {
  color: #727272;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}

/* banner styles */
